

<div class="mb-3  d-flex justify-content-between">
  <h1 style="color: #388dd8; font-size:3.6em" class="mt-3">Blog akcji</h1>

 
  <div class="mb-3 text-center">
    <h5>Sortowanie</h5>
    <button class="btn me-2" 
    [ngClass]="{'btn-primary': activeSortByDate, 'btn-outline-primary': !activeSortByDate}" 
    (click)="sortByDate()">
Sortuj wg daty ({{ sortDirectionDate === 'asc' ? 'Bliższe' : 'Dalsze' }})
</button>
    <button class="btn me-2" 
          [ngClass]="{'btn-primary': activeSortBySeats, 'btn-outline-primary': !activeSortBySeats}" 
          (click)="sortBySeats()">
    Sortuj wg liczby miejsc ({{ sortDirectionSeats === 'asc' ? 'Więcej miejsc' : 'Mniej miejsc' }})
  </button>
   
  

    <h5>Filtrowanie</h5>
  <button class="btn btn-outline-primary me-2" (click)="resetOrder()">Przywróć oryginalne ułożenie</button>
  <button class="btn btn-outline-primary" (click)="toggleFilterSeats()">
    {{ isFiltered ? 'Pokaż wszystkie wydarzenia' : 'Ukryj wydarzenia bez miejsc' }}
  </button>

</div>
</div>

<hr>

<div class="row">
  @for(event of events; track event.id){
    <div class="col-md-4 mb-4" >
      <div class="card h-100">
        <img src="https://sklep.lambda.pl/userdata/public/gfx/b5ba5b93de162471a3a920ca9f91bb5d.jpg" alt="Akcja obraz" class="card-image img-fluid" />
        <div class="card-body">
          <h2 class="card-title">{{ event.title }}</h2>
          <p class="card-text">{{ event.date }} - {{ event.location }}</p>
          
          <div class="card-footer mt-3">
            <p class="card-description">{{ event.description }}</p>
            <p><strong>Miejsca:</strong> {{ event.seats }}</p>
            <button class="btn btn-primary w-100" [routerLink]="['/akcje/szczegóły', event.id]" routerLinkActive="active" ariaCurrentWhenActive="page">Przejdź do akcji</button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
